body{
    background-color: rgb(237, 248, 248);
}

.lefticon{
    /* position:fixed; */
    margin-top: 5px;
    float:left !important;
    margin-left: 10px;
}

.righticon{
    margin-top: 5px;
    float:right !important;
    margin-right:10px;
    display:flex;
    flex-flow: row-wrap;
    gap: 13px;
    justify-content: space-around;
}

.saved{
    display:flex;
    flex-flow: row-wrap;
    gap: 13px;
    justify-content: space-around;
    margin-bottom: 100px;
    border: 3px solid rgb(25, 148, 102);
    padding: 80px 80px;
}

.previous{
    display:flex;
    flex-flow: row-wrap;
    gap: 13px;
    justify-content: space-around;
    border: 3px solid rgb(25, 148, 102);
    padding: 80px 80px;
}

.top{
    margin-top: 55px;
}

.titl{
    text-align: center;
}

a{
    text-decoration: none;
}

.drop{
    position: relative;
    display: inline-block;
}

.content{
    display: none;
    position: absolute;
    background-color: rgb(25, 148, 102);
    min-width: 160px;
    right:0;
}

.drop:hover .content{
    display: block;
}

.content a{
    color: wheat;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
