body{
    background-color: rgb(237, 248, 248);
}

.left{
    margin: auto;
    margin-left:100px;
    margin-top:100px;
    width: 40%;
    /* Keep the box on left side */
    position:fixed;
    /* background-color: rgb(254, 254, 254); */
}

.right{
    margin: auto;
    margin-top:10px;
    width: 45%;
    float:right;
    margin-left:50px;
    /* background-color: rgb(254, 254, 254); */
}


button{
    margin-top: 15px;
    /* display: block; */
    padding:9px 15px 9px 15px;
    background-color: rgb(25, 148, 102);
    border: none;
    color: wheat;
   
   }


.lefticon{
    /* position:fixed; */
    margin-top: 5px;
    float:left !important;
    margin-left: 10px;
    display:flex;
    flex-flow: row-wrap;
    gap: 13px;
    justify-content: space-around;
}

.righticon{
    margin-top: 5px;
    float:right !important;
    display:flex;
    flex-flow: row-wrap;
    gap: 13px;
    justify-content: space-around;
}

.retry{
    display: block;
    margin-bottom: 45px;
}

.trio{
    display:inline-block;
}

.titl{
    text-align: center;
}


a{
    text-decoration: none;
}

.drop{
    position: relative;
    display: inline-block;
}

.content{
    display: none;
    position: absolute;
    background-color: rgb(25, 148, 102);;
    right:0;
}

.drop:hover .content{
    display: block;
}

.content a{
    color: wheat;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

table{
    text-align:left;
}

th,td{
    padding: 13px;
}

td{
    border:3px solid rgb(25, 148, 102);
}

.search{
    display: block;
    padding: 5px 10px;
}